# Session 2: Tuples

In [9]:
mytuple=("car", "bus","truck")

- Tuples are used to store multiple items in a single variable.
- A tuple is a collection which is ordered and **unchangeable**.
- Tuples are written with round brackets.

In [10]:
mytuple=("car","bus","truck")
print(mytuple)

('car', 'bus', 'truck')

- Tuple items are ordered, unchangeable, and allow duplicate values.
- Tuple items are indexed, the first item has index[0], the second item has index[1], etc.
- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
- Since tuples are indexed, they can have items with the same value

In [11]:
mytuple=("car","bus","truck","bus","truck")
print(mytuple)

('car', 'bus', 'truck', 'bus', 'truck')

## Tuple Length

To determine how many items a tuple has, use the len() function:

In [15]:
mytuple=("car","bus","truck")
print(len(mytuple))

3

## Create tuple with one item
To create a tuple with only one item, you have to add a comma after the item, otherwise python will not recognize it as tuple.

In [13]:
mytuple = ("car",)
print(type(mytuple))

<class 'tuple'>

## Not a tuple

In [16]:
mytuple=("car")
print(type(mytuple))

<class 'str'>

In [19]:
tuple1=("car","bus","truck")
tuple2=(1,5,7,9,3)
tuple3=(True,False,False)
tuple4=(1.1,2.2,3.3)

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

('car', 'bus', 'truck')
(1, 5, 7, 9, 3)
(True, False, False)
(1.1, 2.2, 3.3)

## Tuple with multiple different data types

A tuple can contain different data types:

In [ ]:
tuple1=("abc",34,True,40,"male")

### type()


From python's perspective, tuples are defined as objects with the data type "tuple":
<class 'tuple'>

In [20]:
print(type(tuple1))

<class 'tuple'>

## Access tuple items

In [22]:
# printing 2nd item in the tuple
mytuple=("car","bus","truck")
print(mytuple[1])

bus

## Negative indexing

- Negative indexing means start from the end.
- -1 refers to the last item, -2 refers to the second last item etc.

## Range of Indexes

- You can specify a range of indexes by specifying where to start and where to end the range.
- When specifying a range, the return value will be a new tuple with the specified items.

In [23]:
thistuple=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

- This will return the items from position 2 to 5.
- Remember that the first item is position 0,
- and note that the item in position 5 is NOT included
- This means that range is [2,5) which means it is 2 inclusive and 5 exclusive

## Check if item exists

## Note: This question could come in assignment or module exam

In [24]:
mytuple=("car","bus","truck")
if "car" in mytuple:
    print("Yes, 'car' is in the vehicles tuple")

Yes, 'car' is in the vehicles tuple

- Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as its also called.
- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [29]:
x=("apple","banana","cherry")
print(x)

y=list(x)
y[1]="kiwi"
print(y)

x=tuple(y)

print(x)

('apple', 'banana', 'cherry')
['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')

In [34]:
# Convert the tuple into a list, add "orange", and convert it into tuple again

thistuple=("apple", "banana", "cherry")
print(thistuple)

y=list(thistuple)
y.append("orange")
print(y)

thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry', 'orange')

## Joining two tuples

In [35]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Removing elements from a tuple

In [38]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

y = list(thistuple)
y.remove("apple")
print(y)

thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
['banana', 'cherry']
('banana', 'cherry')

## Deleting the tuple entirely

In [40]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)  # this will raise a NameError because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Unpacking a tuple
When we create a tuple, we normally assign values to it. this is called "packing" a tuple:

In [41]:
fruits=("apple", "banana", "cherry")

But, in python we are also allowed to extract the values back into variables. This is called "unpacking".

In [44]:
fruits=("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

print(fruits)

apple
banana
cherry
('apple', 'banana', 'cherry')

## Using Asterisk *
If the number of variables is less than the number of values, you can add an * to the variable name and the rest of the values will be assigned to the variable as a list:

In [45]:
fruits=("apple","banana","cherry","strawberry","raspberry")

(green,yellow,*red)=fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [47]:
fruits=("apple","mango","papaya","pineapple","cherry")
(green,*tropic) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple', 'cherry']
['cherry', 'strawberry', 'raspberry']

## Loop through a tuple
You can loop through the tuple items by using for and while loops.

## Join two tuples
To join two or more tuples you can use the + operator:

In [48]:
tuple1=("a","b","c")
tuple2=(1,2,3)

tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Mutliplying (Repeating) a tuple

In [49]:
fruits=("apple", "banana", "cherry")
mytuple=fruits*2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Session 3: Dictionaries

1. Dictionaries
2. Introducing Dictionaries
3. Defining Dictionaries
4. Modifying Dictionaries
5. Deleting items from Dictionary

## Dictionaries
- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- As of Python version 3.7, dicitonaries are ordered. In python 3.6 and earlier, dictionaries are unordered.
- Dictionaries are written with curly bracket, and have keys and values

## Introducing Dictionaries
## Defining Dictionaries

In [51]:
thisdict = {
    "brand": "Honda",
    "model": "City",
    "year": 1990
}
print(thisdict)

{'brand': 'Honda', 'model': 'City', 'year': 1990}

## Dictionary items:
- Dictionary items are ordered, changeable and do not allow duplicates.
- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [52]:
# Print the "brand" value of the dictionary:
thisdict = {
    "brand": "Ford",
    "model": "Mushtang",
    "year": 2020
}

print(thisdict["brand"])

Ford

In [92]:
# Duplicate values will overwrite existing values:

thisdict = {
    "brand": "Ford",
    "model": "Mushtang",
    "year": 1964,
    "year": 2020
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mushtang', 'year': 2020}

## Dictionary lenght
To determine how many items a dictionary has, use the len() function:

In [75]:
# print the number of items of the dictionary:
print(len(thisdict))

3

## The dict() constructor
It is also possible to use the dict() constructor to make a dictionary.

## Get Keys
The keys() method will return a list of all keys in the dictionary.

In [76]:
# get a list of keys:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

## Modifying Dictionaries

In [77]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:
car={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

x=car.keys()

print(x)  # before the change

car["color"] = "white"

print(x)  # after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

## Get values
The values() method will return a list of all values in the dictionary.

In [78]:
# Get a list of values:
x=thisdict.values()
print(x)

dict_values(['Ford', 'Mushtang', 2020])

## Get items
The items() method will return a list of all items in the dictionary. With key-value pairs properly displayed with separation.

In [79]:
x=thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mushtang'), ('year', 2020)])

## Check if key exists:

In [96]:
if "brand" in thisdict.keys():
    print("Brand name is present and its value is:", thisdict["brand"])

Brand name is present and its value is: Ford

## Deleting items from Dictionaries
- pop() -> removes the item with specified key name
- popitem() -> removes the last inserted item (In <3.7 removes a random item)
- del -> removes the item with the specified key name
- clear() -> deletes the entire dictionary completely

In [95]:
thisdict = {
    "brand": "Ford",
    "model": "Mushtang",
    "year": 2020
}

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2020}

In [81]:
thisdict.popitem()
print(thisdict)

{'brand': 'Ford'}

In [82]:
del thisdict["brand"]
print(thisdict)

{}

In [83]:
car={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

car.clear()
print(car)

{}

# Lab Questions:

## Q1: WAP to demonstrate if, elif and else by checking largest of 3 numbers.
## Q2: WAP to check whether a number is perfect or not. (Perfect number is a number whose sum of all divisors is equal to the number itself)
## Q3: WAP to read multi-word string and print them in alphabetical order.
## Q4: Note down this dictionary:
### car = {"i10": "Grey", "Kushaq": "Red", "i20": "White"}
## a. How many cars are there in dictionary
## b. change color of kushaq to black
## c. remove the car i10
## Q5: WAP to sort the elements of tuple
## Q6: WAP to implement contact book using dictionaries (Name, contact number, address, locality, email, pincode)

In [110]:
# Question 1:

def greatest_number(a, b, c):
    if a > b and a > c:
        print("Greatest number is 'a'")
    elif b > a and b > c:
        print("Greatest number is 'b'")
    elif c > a and c > b:
        print("Greatest number is 'c'")
    elif a == b and b == c:
        print("All numbers are equal")
    else:
        print("Cant decide")
    
a=input("Enter the number a:")
b=input("Enter the number b:")
c=input("Enter the number c:")

greatest_number(int(a),int(b),int(c))

Enter the number a: 3
Enter the number b: 2
Enter the number c: 3

Cant decide

In [9]:
# Question 4:

car = {
    "i10": "Grey",
    "Kushaq": "Red",
    "i20": "White"
}
print(car)

{'i10': 'Grey', 'Kushaq': 'Red', 'i20': 'White'}

In [10]:
# a.)
print(len(car))

3

In [11]:
# b.) 
car["Kushaq"] = "Black"
print(car)

{'i10': 'Grey', 'Kushaq': 'Black', 'i20': 'White'}

In [12]:
# c.)
car.pop("i10")
print(car)

{'Kushaq': 'Black', 'i20': 'White'}

In [16]:
# Question 5:
nums = (5,32,234,523,423,52)
num_list=list(nums)
list.sort(num_list)
nums = tuple(num_list)
print(nums)

(5, 32, 52, 234, 423, 523)