# Sets

- Sets are used to store multiple items in a single variable.
- A set is a colleciton which is unordered, unchangeable*, and unindexed.
- Set items are unchangeable, but you can remove items and add new items.
- Sets are written with curly brackets.
- Note: the set list is unordered, meaning: the items will appear in a random order.

In [73]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

## Duplicates Not Allowed
- Sets cannot have two items with the same value.
- Duplicate values will be ignored.

In [74]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'banana', 'apple'}

- **Note**: the values True and 1 are considered the same value in sets, and are treated as duplicates:

In [75]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

## Get the length of a Set:
- To determine how many items a set has, use the len() function.

In [76]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

- String, int and boolean data types:

In [77]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

- A set with strings, integers and boolean values:

In [78]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 'abc', 34, 'male', 40}

## Data type of a set

In [79]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

## Loop through

- Loop through the set and print the values:

In [80]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

## Searching elements in set:

- Check whether a particular element is NOT present in the set:

In [81]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

- Check if a particular element is present in the set:

In [82]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

## Add Items

- Add an item to a set, using the add() method:

In [83]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

- Add elements from other set

In [84]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'banana', 'pineapple', 'papaya', 'apple', 'mango'}

## Add any iterable:
- The object in the update() method does not have to be a set, it can be any iterable object (tuples, list, dictionaries, etc.)
- for eg. you can add elements of a list to a set.

In [85]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'orange', 'banana', 'kiwi', 'apple'}

## Remove item
- To remove an item in a set, use the remove(), or the discard() method.

In [86]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

- Note: if the item to remove does not exist, remove() will raise an error.

In [87]:
thisset.remove("Jackfruit") # KeyError
print(thisset)

KeyError: 'Jackfruit'

## Other methods to remove set elements

- You can also remove elements with discard()
- **Note:** if the item to remove does not exist, discard() will **NOT** raise an error.

In [88]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

- You can remove a random item by using the pop() method:

In [89]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

- The clear() method empties the set:

In [90]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

- The del keyword will delete the set completely:

In [91]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset) # NameError

NameError: name 'thisset' is not defined

## Join Sets

- There are several ways to join two or more sets in Python.
- The union() and update() methods joins all items from both sets.
- The intersection() method keeps ONLY the duplicates.
- The difference() method keeps the items from te first set that are not in the other set(s).
- The symmetric_difference() method keeps all items EXCEPT the duplicates.

## Union
- The union() method returns a new set with all items from both sets.

In [92]:
set1 = {"a", "b", "c"}
set2 = {1,2,3}

set3 = set1.union(set2) # OR you can use: set3 = set1 | set2
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

- You can also use union() with multiple sets.

In [93]:
set1 = {"a", "b", "c"}
set2 = {1,2,3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
# OR you can use: myset = set1 | set2 | set3 | set4

print(myset)

{1, 2, 3, 'Elena', 'cherry', 'c', 'b', 'bananas', 'a', 'John', 'apple'}